<div class="paragraphs-sum-formatter">
  {% if count and show_count_first %}
    <span class="count">{{ count_label }}: {{ count }}</span>
    <span class="label">{{ label }}</span>
    <span class="total">{{ total }}</span>
  {% else %}
    <span class="label">{{ label }}</span>
    <span class="total">{{ total }}</span>
    {% if count %}
      <span class="count">{{ count_label }}: {{ count }}</span>
    {% endif %}
  {% endif %}
</div>
